.wrapper input{
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  width: 100px;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: white;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  font-weight: 300;
  margin-right: -160px;
  margin-top: -55px;
}
.wrapper input:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.wrapper input:focus {
  background-color: white;
  width: 150px;
  color: #53e3a6;
}